.site-layout{
    background-color: #C6E1F5;
    padding: 0;
    margin: 0;
}

.content_container{
    margin: 0 24px;
    background-color: #98ccf4;
}

.content{
    padding: 12px;
    min-height: 500px; 
}

.content-title{
    text-align: center;
    margin: 8px 0;
}

.content-title h2{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 4px;
    letter-spacing: 4px;
}

.content-title span{
    font-size: 16px;
    letter-spacing: 2px;
}

.content-details{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin: 48px 0;
}

.details-img{
    width: 220px;
    height: 380px;
}

.details-img img{
    width: 100%;
}

.details-evolution{
    margin: 16px 0;
}

.details-evolution h3{
    font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
    margin: 16px 0;
}

.details-evolution span{
    letter-spacing: 2px;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 8px 0;
}

.info-card{
    display: grid;
    width: 500px;
    height: 100%;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.7fr 0.7fr;
    text-align: center;
    background-color: #212D36;
    border-radius: 20px;
    color: rgb(220, 221, 222);
    padding: 8px 12px;
}

.details-info h3{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 8px 0;
}

.details-info span{
    display: block;
    font-size: 18px;
    margin: 8px 0;
    padding: 1px;
}

.footer-button{
    padding: 12px 36px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: rgb(237, 83, 103);
    color: aliceblue;
    cursor: pointer;
}

.footer-button:hover{
    transform: scale(1.01);
    transition: all 0.3s ease-in;
    background-color: rgb(220, 93, 110);
}