*{
    margin: 0;
    padding: 0;
}

.logo_text{
    max-width: 280px;
    margin: auto;
}

.logo_text img{
    width: 100%;
    text-align: center;
}

.container-main{
    width: 100% !important;
    min-height: 100vh !important;
    background-color: #C6E1F5;
}

.container-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.row{
    width: 70%;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.pagination{
    margin: 32px 0;
    font-size: 16px;
}